

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('/images/background1.jpg') no-repeat;
  background-size: cover;
  background-position: center;
}

.form-box {
  width: 420px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
  color: #fff;
  border-radius: 10px;
  padding: 30px 40px;
}

.form-box h2 {
  font-size: 36px;
  text-align: center;
}

.field-group {
  position: relative;
  width: 100%;
  margin: 30px 0;
}

.field-group input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, .2);
  border-radius: 40px;
  font-size: 16px;
  color: #fff;
  padding: 10px 20px;
}

.field-group label {
  color: #fff;
}

input[type="submit"] {
  width: 100%;
  height: 50px;
  background: #5f27cd;
  border: none;
  border-radius: 40px;
  color: #fff;
  margin-top: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}

input[type="submit"]:hover {
  background-color: #971f25;
}
